
.main{
  background-color: rgb(110, 183, 207);
}
/* Navbar */

.navbar {
  padding-bottom: 1px;
  border-bottom: solid 1px #e8e8e8;
  background-color: white;
  box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.12),
    0 6px 16px -11px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  z-index: 99990;
}
.home{
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}
.nav-header {
  background-color: rgb(8, 123, 161);
  color: white;
  border-bottom: 0;
  padding: 0 4px 0 24px;
}
.logo {
  width: 200px;
  float: left;
  font-weight: 600;
}

.logo a {
  color: white;
  display: inline-block;
  font-size: 20px;
  text-transform: capitalize;
}

.navbar-menu {
  width: calc(100% - 200px);
  float: left;
}
.navbar-menu .ant-layout-header {
  padding: 0 20px;
}

.navbar-menu .ant-menu-horizontal {
  border-bottom: 0;
}

.navbar-menu .ant-menu-item {
  padding-bottom: 0px;
}

.navbar-menu .leftMenu {
  float: left;
}

.navbar-menu .rightMenu {
  float: right;
}

.menuButton {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 14px;
  display: none;
  background: none;
  margin-right: 10px;
}
.menuItem{
  background-color: rgb(8, 123, 161);
  color: whitesmoke;
}
.menuItem a{
  color: white;
  
}

.menuItem:hover {
  border-bottom: 0;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

.username {
  display: none;
  margin-left: 8px;
}
.buttonText{
  color: whitesmoke;
}

@media (max-width: 767px) {
  .menuButton {
    display: block;
    margin-right: 10px;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .logo a {
    margin-left: -10px;
  }

  .ant-drawer-title > .brand-font {
    margin-bottom: 0;
  }

  .username {
    display: inline-block;
  }
}

/* Navbar End */

/*Table Start*/
.table-wrapper {
  margin-top: 10px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.table-wrapper:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/*Table End*/


/*Footer Start*/

.footer{
  background-color:rgb(8, 123, 161) ;
  color: whitesmoke;
}
/*Footer End*/



/*Project Start*/
.projectslist{
  margin-top: 10px;
}
/*Footer End*/

